name = "b2cdn"
type = "webpack"

account_id = ""
workers_dev = false
routes = ["example.com/*"]
zone_id = ""

vars = { B2ACCESS = "Your B2 Application Access Key ID", B2BUCKET = "example-bucket" }
kv_namespaces = [
    { binding = "B2CDN", id = "The ID of a KV namespace to read our auth token from", preview_id = "The ID of a preview KV namespace to read our auth token from" }
]
